@import "tailwindcss";

:root {
  --tg-theme-bg-color: #ffffff;
  --tg-theme-text-color: #000000;
  --tg-theme-hint-color: #999999;
  --tg-theme-link-color: #2563eb;
  --tg-theme-button-color: #2563eb;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-secondary-bg-color: #f1f5f9;
}

body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
}
